
body {
  background-color: #000000; /* preto */
  color: #ffffff;            /* texto branco para contraste */
}

h1 {
  color: #ff0000;
}

select.form-select {
  border-radius: 0.5rem;
  border: 2px solid #ff0000;
  background-color: white;
  color: #e60000;
}
